<ion-popover-view id="infoScreen">
	<ion-header-bar>
		<h1 class="title">About Base "10" Converter</h1>
	</ion-header-bar>
	<ion-content>
		<div class="popoverText">
			<p>Thanks for purchasing the most advanced base/number conversion tool in the app store proudly developed by Lin Firmware; I hope you enjoy the app and consider leaving a review in the app store!</p>
			<p><b>Getting Started</b></p>
			<p>Simply start entering your target number to begin converting between bases. See the tips below for special cases.</p>
			<ul id="infoList">
				<li>Your desired base will be intelligently predicted; simply click on the display text for your desired base to override this prediction.</li>
				<li>The dark checkmark indicates the current base, and empty circles indicate bases you can change too. If a base has no circle that means the current number is out of bounds for that base or contains digits incompatible with that base.</li>
				<li>The font for each base will dynamically scale and span multiple lines as needed to make sure the entire number is visible at all times.</li>
				<li>The largest supported number is 53 bits in length.</li>
				<li>Press "DEL" or "AC" to delete individual digits or clear the entire number, respectively.</li>
			</ul>
		</div>
	</ion-content>
</ion-popover-view>